name: T5DE

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set Version
        run: |
          $ENV:VERSION = $(cat VERSION)
          echo ("VERSION=" + $ENV:VERSION) >> $ENV:GITHUB_ENV
      - name: Setup Python 2.7
        uses: actions/setup-python@v2
        with:
          python-version: 2.7
      - name: Install Dependencies
        run: |
          python -m pip install --upgrade pip
          pip install flake8 pytest
          pip install -r requirements.txt
      - name: Patch Installer
        run: |
          python main.py $ENV:VERSION
      - name: Install NSIS
        run: |
          Invoke-Expression (New-Object System.Net.WebClient).DownloadString('https://get.scoop.sh')
          scoop bucket add extras
          scoop install nsis
      - name: Build Installer
        uses: joncloud/makensis-action@v3.3
      - name: Upload Artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: T5DE-"${{ ENV:VERSION }}".exe
          path: T5DE-"${{ ENV:VERSION }}".exe
